<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Venues in  <%= venues[0].state %> </h1>
      <table>
        <thead>
          <th>state</th>
          <th>city</th>
          <th>venue</th>
          <th>url</th>
          <th>capacity</th>
          <th>diy</th>
          <th>up</th>
          <th>down</th>
        </thead>
        <tbody>
      <%venues.forEach( venue => { %>
          <tr>
            <td><%= venue.state %></td>
            <td><%= venue.city %></td>
            <td><%= venue.venue %></td>
            <td><%- venue.url.split('/')[2] === 'www.facebook.com' ? link_to('facebook', venue.url) : venue.url.includes('@') ? mail_to('email', venue.url) : link_to('website', venue.url)-%></td>
            <td><%= venue.capacity %></td>
            <td><%= venue.diy %></td>
            <td><%= venue.up %></td>
            <td><%= venue.down %></td>
          </tr>

    <%});%>
        </tbody>
      </table>

  </body>
</html>
