<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Venues in  <%= venues[0].state %> </h1>
      <table>
        <thead>

          <th>venue</th>
          <th>url</th>
          <th>fb</th>
          <th>email</th>
          <th>capacity</th>
          <th>diy?</th>
          <th>up</th>
          <th>down</th>
        </thead>
        <tbody>
      <%venues.forEach( venue => { %>

        <%-console.log(venue.fb? venue.fb.split('/')[3] : '') -%>
          <tr>

            <td><%= venue.venue %></td>
            <td><%= venue.url %></td>
            <td><%- venue.fb ? link_to(venue.fb.split('/')[3], venue.fb) : '' -%></td>
            <!-- <td><%= venue.fb %> </td> -->
            <td><%= venue.email %></td>
            <td><%= venue.capacity %></td>
            <td><%= venue.diy %></td>
            <td><%= venue.up %></td>
            <td><%= venue.down %></td>
          </tr>

    <%});%>
        </tbody>
      </table>

  </body>
</html>
