  <% include ./partials/header.ejs %>
  <% include ./partials/nav.ejs %>
  <body>

    <div class='searchbox'>
      <p>Filter by:</p>

      <form id='venueSearchForm'>
        <div class='form-row'>
          <div class="input-group mb-3 col-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="venueState">State</span>
            </div>
              <select class="custom-select form-control stateSelector" name='state'></select>
          </div>


          <div class="input-group mb-3 col-3">
            <div class="input-group-prepend">
              <span class="input-group-text">City</span>
            </div>
            <input type="text" id='cityInput' name='city' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          </div>
          <div class="input-group mb-3 col-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Venue</span>
            </div>
            <input type="text" id='venueInput' name='venue' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          </div>

          <div class="col-1">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>


          <div class='input-group mb col-8'>
            <div class=input-group-text >
              <span class="capSelector">Capacity</span>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="capAny" value="any" checked>
                <label class="form-check-label" for="any">Any</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input notany" type="checkbox" id="unlabeled" value="unlabeled">
                <label class="form-check-label" for="unlabeled">Unknown</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input notany" type="checkbox" id="capxs" value="xsmall">
                <label class="form-check-label" for="capxs">< 100</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input notany" type="checkbox" id="caps" value="small">
                <label class="form-check-label" for="caps">101< 250</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input notany" type="checkbox" id="capm" value="medium">
                <label class="form-check-label" for="capm">251 < 600</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input notany" type="checkbox" id="capl" value="large">
                <label class="form-check-label" for="capl">601 < 1200</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input notany" type="checkbox" id="capxl" value="xlarge">
                <label class="form-check-label" for="capxl">1200+</label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <h1> <span class='stateDisplay' style='display:none; align:left'></span> <span><button class='btn' id='addVenue'><i class="material-icons md-36" >add_circle</i></button></span></h1>

    <form id='addVenueForm' style='display:none;'>
      <div class='form-row'>
        <div class="input-group mb-3 col-2">
          <div class="input-group-prepend">
            <span class="input-group-text">State</span>
          </div>
            <select class="custom-select form-control stateSelector" name='state'></select>
        </div>
        <div class="input-group mb-3 col-2">
          <div class="input-group-prepend">
            <span class="input-group-text">City</span>
          </div>
          <input type="text" name='city' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3 col-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Venue</span>
          </div>
          <input type="text" name='venue' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3 col-3">
          <div class="input-group-prepend">
            <span class="input-group-text">URL</span>
          </div>
          <input type="text" name='url' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3 col-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Booking Email</span>
          </div>
          <input type="text" name='email' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3 col-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Capacity</span>
          </div>
          <input type="text" name='capacity' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="diy" value="diy">
          <label class="form-check-label" for="diy">DIY</label>
        </div>

        <div class="col-1">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </form>


      <table class='table'>
        <thead>
          <th>state</th>
          <th>city</th>
          <th>venue</th>
          <th>url</th>
          <th>capacity</th>
          <th><i class="material-icons md-24">thumb_up</i></th>
          <th><i class="material-icons md-24">thumb_down</i></th>
        </thead>
        <tbody id='venuesList'>
      <%venues.forEach( venue => { %>

          <tr>
            <td><%= venue.state %></td>
            <td><%= venue.city %></td>
            <td><%= venue.venue %><%- (venue.diy && (venue.diy != false)) ? '*' : '' -%></td>
            <td><%- venue.url.split('/')[2] === 'www.facebook.com' ? link_to('facebook', venue.url, {target: "_blank"}) : link_to('website', venue.url, {target: "_blank"})-%></td>
            <td><%- venue.capacity && venue.capacity -%></td>
            <td id=upVote<%=venue.id%>><span><%= venue.up %></span> <button class='btn btn-default'><i class="material-icons md-18 thumb-up" data-id=<%=venue.id%> >thumb_up</i></button></td>
            <td id=downVote<%=venue.id%>><span><%= venue.down %></span> <button class='btn btn-default'><i class="material-icons md-18 thumb-down" data-id=<%=venue.id%> >thumb_down</i></button></td>
          </tr>

    <%});%>
        </tbody>
      </table>

      <script src="./javascripts/searchform.js"></script>
      <script src="./javascripts/addButton.js"></script>

  </body>
</html>
