<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
  </head>
  <body>

    <div class='searchbox'>
      <p>Filter by:</p>

      <form id='searchForm'>
        <div class='form-row'>
            <!-- <div class="form-group col-3">
              <label for="stateSelector">State</label>
              <select class="custom-select form-control" default='Colorado' id="stateSelector"></select>
            </div> -->
            <div class="input-group mb-3 col-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">State</span>
              </div>
                <select class="custom-select form-control" name='state' default='Colorado' id="stateSelector"></select>
            </div>


          <div class="input-group mb-3 col-3">
            <div class="input-group-prepend">
              <span class="input-group-text">City</span>
            </div>
            <input type="text" id='cityInput' name='city' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          </div>
          <div class="input-group mb-3 col-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Venue</span>
            </div>
            <input type="text" id='venueInput' name='venue' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          </div>
          <div class="input-group mb-3 col-2">
            <div class="input-group-prepend">
              <span class="input-group-text">Capacity</span>
            </div>
              <select class="custom-select" name='capacity' id="capSelector">
                <option value='any'>Any</option>
                <option value='1'> < 100</option>
                <option value='2'>101-250</option>
                <option value='3'>251-600</option>
                <option value='4'>601-1200</option>
                <option value='5'>1201+</option>
              </select>
          </div>
          <div class="col-1">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>





    </div>




    <h1> Venues in  <%= venues[0].state %> </h1>
      <table class='table'>
        <thead>
          <th>state</th>
          <th>city</th>
          <th>venue</th>
          <th>url</th>
          <th>capacity</th>
          <th>diy</th>
          <th><i class="material-icons md-24">thumb_up</i></th>
          <th><i class="material-icons md-24">thumb_down</i></th>
        </thead>
        <tbody id='venuesList'>
      <%venues.forEach( venue => { %>
          <tr>
            <td><%= venue.state %></td>
            <td><%= venue.city %></td>
            <td><%= venue.venue %></td>
            <td><%- venue.url.split('/')[2] === 'www.facebook.com' ? link_to('facebook', venue.url, {target: "_blank"}) : venue.url.includes('@') ? mail_to('email', venue.url, {target: "_blank"}) : link_to('website', venue.url, {target: "_blank"})-%></td>
            <td><%= venue.capacity %></td>
            <td><%= venue.diy %></td>
            <td><%= venue.up %> <i class="material-icons md-18">thumb_up</i></td>
            <td><%= venue.down %> <i class="material-icons md-18">thumb_down</i></td>
          </tr>

    <%});%>
        </tbody>
      </table>

      <script src="./javascripts/searchform.js"></script>
  </body>
</html>
